black==22.1.0
flake8-bugbear==22.1.11
flake8-comprehensions==3.8.0
flake8-docstrings==1.6.0
flake8==4.0.1
hiplot==0.1.32
hydra-core==1.1.1
hydra-submitit-launcher==1.1.6
isort==5.10.1
jupyter==1.0.0
jupyterlab==3.3.2
mypy==0.931
pytest==6.2.5
pytest-xdist==2.5.0
typing-extensions==4.0.1
yamllint==1.26.3